/* 🎨 COLORS */
/* 🎨 COLORS */
.root {
    -fx-primary: #2563eb;
    -fx-success: #16a34a;
    -fx-danger: #dc2626;
    -fx-warning: #facc15;
    -fx-info: #06b6d4;

    -fx-bg: #f5f7fb;
    -fx-card: #ffffff;
    -fx-text: #1e293b;
}

/* 🧱 GLOBAL */
.root {
    -fx-background-color: -fx-bg;
    -fx-font-family: "Segoe UI";
}

/* 📦 CARDS */
.card {
    -fx-background-color: -fx-card;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 4);
}

/* 🔵 BUTTONS */
.btn-primary {
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.btn-danger {
    -fx-background-color: -fx-danger;
    -fx-text-fill: white;
}

/* 🟢 STATUS */
.badge-success {
    -fx-background-color: #dcfce7;
    -fx-text-fill: #166534;
    -fx-padding: 3 8;
    -fx-background-radius: 20;
}

/* 📊 TABLE */
.table-view {
    -fx-background-color: white;
    -fx-border-radius: 10;
}